* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    background-color: #002b38;
    color: white;
    padding: 20px;
}

h2 {
    text-align: center;
    padding: 20px;
}

body {
    background-color: rgb(184, 184, 184);
}

nav ul {
    background-color: gray;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-flex;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;
}

nav li:hover {
    background-color: #002b38;
}

img {
    width: 175px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
}

.contenido {
    display: flex;
    margin: 60px;
}

.articulos {
    width: 80%;
    border-right: 3px solid black;
    
}

.secciones {
    display: flex;
    align-items: center;
    padding: 40px;
}

.menu-secundario {
    width: 20%;
    margin-top: 60px;
    text-align: center;
    
}

.menu-secundario a {
    display: block;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

footer {
    width: 100%;
    height: 150px;
    background-color: #002b38;
    color: white;
    margin-top: 40px;

}

footer p {
    text-align: center;
    padding: 50px;
}

p {
    font-family: arial;
}

.responsive {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

}


@media(max-width:620px){

    img {

        margin-top: 20px;
        width: 150px;
        height: 180px;
        border-radius: 50%;
        object-fit: cover;
        display: flex;
    }

}
/*
@media(max-width:580px){

    img {

        margin-top: 20px;
        width: 120px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        display: flex;
    }

}

@media(max-width:540px) {

    img {

        margin-top: 20px;
        width: 90px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
        display: flex;
    }
}

*/

@media(max-width:510px){

    .articulos {
        border-right: rgb(184, 184, 184);
        width: 100%;
    }

    img {
        width: 175px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        display: flex;
    }

    .contenido {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    
    .menu-secundario {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

}


@media (max-width:410px) {

    img {

        margin-top: 20px;
        width: 150px;
        height: 180px;
        border-radius: 50%;
        object-fit: cover;
        display: flex;
    }

    .secciones {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
    }

}


